---
import ScrollbarStyles from "../components/ScrollbarStyles.astro";
import SocialCardMetaTags from "../components/SocialCardMetaTags.astro";

import { Link } from "../components/Link";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

import brygadaPath from "@fontsource-variable/brygada-1918/files/brygada-1918-latin-wght-italic.woff2";
import interPath from "@fontsource-variable/inter/files/inter-latin-wght-normal.woff2";

import "../../global-styles/base.css";
import "../../global-styles/integrations.css";
import "../../global-styles/font.css";

type Props = {
  title: string;
  description: string;
  ogImage?: string;
};

const { title, description, ogImage } = Astro.props;
const { pathname } = Astro.url;

let href = "/";

const regex = /^\/posts\/.+/;
if (regex.test(pathname)) href = "/posts";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="darkreader-lock" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    {
      [interPath, brygadaPath].map((href) => (
        <link
          rel="preload"
          href={href}
          as="font"
          type="font/woff2"
          crossorigin
        />
      ))
    }

    <SocialCardMetaTags ogImage={ogImage} />

    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />

    <title>{title}</title>

    <script is:inline>
      const setClass = (isDark) =>
        document.documentElement.classList.toggle("dark", isDark);

      const scheme = localStorage.getItem("🎨 theme");

      if (!scheme) {
        localStorage.setItem("🎨 theme", "dark");
        setClass(true);
      } else setClass(scheme === "dark");
    </script>
  </head>
  <body>
    <div class="mx-auto max-w-container px-4">
      <header class="flex items-center justify-between pb-2">
        <slot name="header-content" class="flex">
          <Link href={href}>
            <span class="text-sm text-neutral-500 transition-colors duration-200 hover:text-neutral-300">&larr; back</span>
          </Link>
          <p class="grow text-center text-sm text-neutral-600 max-[772px]:hidden font-mono">{pathname}</p>
        </slot>
        <Navbar />
      </header>
      <slot />
      <Footer />
    </div>
    <ScrollbarStyles />
  </body>
</html>
